go 1.22.5

toolchain go1.23.1

use .

use ./osmomath

use ./osmoutils

use ./x/ibc-hooks

use ./x/epochs

replace github.com/onsi/ginkgo => github.com/onsi/ginkgo v1.16.5

replace github.com/cosmos/cosmos-sdk => /Users/malte/dev/osmosis-labs/cosmos-sdk

replace cosmossdk.io/store => /Users/malte/dev/osmosis-labs/cosmos-sdk/store

replace github.com/ethereum/go-ethereum => github.com/evmos/go-ethereum v1.10.26-evmos-rc4
